body{
  background: url("hoho.png");
  background-size: cover;
}

.container {
  display: inline-flex;
  justify-content: space-between; }


.card{
  margin-left: 300px;
  margin-bottom: 600px;  

}
.card-img-top{

  margin-top: 100px;
  height:75%;
  width:300px;
}

.card-text{

background-color:#D98324;
font-family: 'Kanit';
font-size:25px;
}
.card-body{

  background-color: #E3C567;

}

.card-title{

  color: black;
  font-family: 'Kanit';
  font-size:50px;
  }
