$color: black;
$font: 'Kanit';
$pixel: 50px;
$height_and_width: 500px;


body{
  background-image:url("groudon.jpg");
  background-size: cover;
  
    
}
.container{
  display:inline-flex;
    justify-content: space-between;
}

.col-sms{
margin-top:200px;
  height:$height_and_width;
  width:$height_and_width;

  
}
.card{
  
margin-left: 400px;
margin-top:300px;
}

.card-title{

color: white;
font-family: $font; 
font-size:$pixel;
}
.card-text{

  background-color:#A40606;
  font-family: $font;
  font-size:25px;
}

.card-body{

  background-color:$color;
}

.master{

  height:100px;
}

.topnav{
background-color: $color;
height:$pixel;

}

.active{

  margin-left:$pixel;
  font-size: 30px;
}

li{

  list-style:none;
}