$black: black;
$font_family: 'Kanit';

body{
background-image: url("snorlax.jpg");
background-size:cover;

}


.container {
  display: inline-flex;
  justify-content: space-between; 
}



.card-img-top{

  margin-top: 100px;
  height:75%;
  width:300px;
}

.card{
  margin-left: 350px;
  margin-top: 200px;  

}
.card-title{

  color: $black;
  font-family: $font_family;
  font-size:40px;
  }
  
  .card-text{

    font-size: 25px;
    font-family: $font_family;
  }
  .card-body{

   background-color: #044389;
  }

  .topnav{
    background-color:$black;
    height:50px;
  }


  li{

    list-style:none;
  }