body{
  background-image:url("groudon.jpg");
  background-size: cover;
}
.container{
  display:inline-flex;
    justify-content: space-between;
}

.col-sms{
margin-top:200px;
  height:500px;
  width:500px;
}
.card{
  
margin-left: 400px;
margin-top:300px;
}

.card-title{

color: white;
font-family: 'Kanit';
font-size:50px;
}
.card-text{

  background-color:#A40606;
  font-family: 'Kanit';
  font-size:25px;
}

.card-body{

  background-color: black;
}

.master{

  height:100px;
}