$pixels_300: 300px;
$font_family: 'Kanit';
$color:#E3C567;
$pixels_50: 50px;

body{
  background: url("hoho.png");
  background-size: cover;
}

.container {
  display: inline-flex;
  justify-content: space-between; }


.card{
  margin-left: $pixels_300;
  margin-top: 250px;  

}
.card-img-top{

  margin-top: 100px;
  height:75%;
  width:$pixels_300;
}

.card-text{

background-color:#D98324;
font-family:$font_family;
font-size:25px;
}
.card-body{

  background-color: $color;

}

.card-title{

  color: black;
  font-family: $font_family;
  font-size:$pixels_50;
  }

  .topnav{
    background-color:$color;
    height:$pixels_50;
  }

  .active{

    margin-left:$pixels_50;
    font-size: 30px;
  }
  
  li{

    list-style:none;
  }